<div class="c-klarna-gateway">
    <div id="c-klarna{{ method }}-errors" class="c-creditcard-payment-errors"></div>

{#    {{ dump(supported_methods) }}#}
    <div class="c-payment-method-options__container">
        <ul class="c-payment-method-options">
            {% for pmc in supported_methods %}
                <li class="c-payment-method-option" id="c-klarna-{{ pmc.identifier }}-wrapper">
                    <input
                            type="radio"
                            name="klarna{{ method }}-option"
                            value="{{ pmc.identifier }}"
                            class="c-payment-method-option__input"
                            id="c-pm{{ method }}-option-{{ pmc.identifier }}"
                            {% if loop.index == 1 %}checked="checked"{% endif %}
                    >

                    <label class="c-payment-method-option__label" for="c-pm{{ method }}-option-{{ pmc.identifier }}">
                        <img class="c-payment-method-option__image" src="{{ pmc.asset_urls.descriptive }}" alt="{{ pmc.name }}">
                        <span class="c-payment-method-option__name">{{ pmc.name }}</span>
                    </label>

                    <div class="c-payment-method-issuers__container">
                        <div class="c-payment-method__panel" id="c-klarna-{{ pmc.identifier }}"></div>
                    </div>
                </li>
            {% else %}
                {{ lex('commerce_klarna.not_available') }}
            {% endfor %}
        </ul>
    </div>
</div>

<script src="https://x.klarnacdn.net/kp/lib/v1/api.js" async></script>

<script type="text/javascript">
    window.klarnaAsyncCallback = function () {
        // First init with the client token
        Klarna.Payments.init({
            client_token: '{{ client_token }}'
        });

        // Then load up each widget
        {% for pmc in supported_methods %}
            Klarna.Payments.load({
                container: '#c-klarna-{{ pmc.identifier }}',
                payment_method_category: '{{ pmc.identifier }}'
            }, function (res) {
                console.debug('[klarna] load:', res);
                if (res.show_form === false) {
                    var wrapperEl = document.getElementById('c-klarna-{{ pmc.identifier }}-wrapper');
                    if (wrapperEl) {
                        wrapperEl.style.display = 'none';
                    }
                }
            });
        {% else %}
            console.warn('No Klarna payment options available for order.');
        {% endfor %}
    };

    CommercePayments.onReady(function() {
        var form = CommercePayments.getForm(),
            errorBox = document.getElementById('c-klarna{{ method }}-errors'),
            btns = form.getElementsByTagName('button');

        function showError(msg) {
            var errmsg = document.createElement('p');
            errmsg.innerText = msg;
            errorBox.innerHTML = '';
            errorBox.appendChild(errmsg);
        }

        CommercePayments.onSubmit({{ method }}, function (e) {
            // Stop submitting
            e.preventDefault();
            e.stopPropagation();

            // Make sure the rest of the form is valid (based on html5 validation attributes)
            if (form.checkValidity && !form.checkValidity()) {
                alert('{{ lex('commerce_klarna.fix_form')|escape('js') }}');
                return false;
            }

            var paymentOption = form['klarna{{ method }}-option'] ? form['klarna{{ method }}-option'].value : false;
            if (!paymentOption) {
                alert('Please choose a Klarna payment option.');
                return false;
            }

            // Disable the submit button to prevent repeated clicks
            for (var j = 0; j < btns.length; j++) {
                btns[j].setAttribute('disabled', true);
            }

            Klarna.Payments.authorize({
                payment_method_category: paymentOption
            }, {
                // not sending any new data - everything we know has already been submitted server-side
            }, function(res) {
                console.debug('[klarna] authorize:', res);

                // Success!
                if (res.show_form && res.approved) {
                    var success = document.createElement('input');
                    success.setAttribute('type', 'hidden');
                    success.setAttribute('name', 'authorization_token');
                    success.setAttribute('value', res.authorization_token);
                    form.appendChild(success);
                    form.submit();
                    return;
                }

                if (res.show_form && !res.approved) {
                    // klarna shows errors in its own popup
                }

                if (!res.show_form && !res.approved) {
                    alert('{{ lex('commerce_klarna.not_approved')|escape('js') }}');
                }

                // Re-enable buttons
                for (var j = 0; j < btns.length; j++) {
                    btns[j].removeAttribute('disabled');
                }
            });

            return false;
        });
    });
</script>

{#{{ dump() }}#}